---
interface QuoteItem {
  quote: string;
  author: string;
}

import Layout from "../layouts/Layout.astro";
import Quote from "../components/Quote.astro";

const res = await fetch("https://waifu.it/api/v4/quote", {
  headers: {
    Authorization: "Nzc2MTc2Njk0MjA5NDEzMTcw.MTcwODE5NjEwOA--.618e877426b",
  },
});

const data: QuoteItem = await res.json();
---

<Layout title="Random Quote Generator">
  <main>
    <Quote quote={data.quote} author={data.author} />
  </main>
</Layout>

<style></style>
