---
interface QuoteItem {
  quote: string;
  character: string;
}

import Layout from "../layouts/Layout.astro";
import Quote from "../components/Quote.astro";

const res = await fetch("https://animechan.xyz/api/random")

const data: QuoteItem = await res.json();
---

<Layout title="Random Quote Generator">
  <main>
    <Quote quote={data.quote} character={data.character} />
  </main>
</Layout>
